<div class="row w-100 m-0 product-container">
  <span>{{ product }}</span>
</div>

<div class="row w-100 m-0 buttons-container">
  <button class="col m-3" id="reclamation">
    <i class="fal fa-frown"></i>
    TENHO UM DESABAFO!
  </button>
  <button class="col m-3" id="suggestion">
    <i class="fal fa-lightbulb-on"></i>
    TENHO UMA SUGESTÃO!
  </button>
</div>

<div class="mt-3 ml-4 mr-4">
  <app-complex-search-input></app-complex-search-input>
</div>

<section class="suggestions-list-sec">

  <app-suggestion *ngFor="let sug of suggestions" [suggestion]="sug"></app-suggestion>

</section>
